h1 {
    margin-left: 45%;
}


.section1 {
    height: 150px;
    width: 150px;
    background-color: antiquewhite;
    padding: 25px;
}

.section2 {
    height: 150px;
    width: 150px;
    background-color: gray;
    padding: 25px;
}

.section3 {
    height: 150px;
    width: 150px;
    background-color:blue;
    padding: 25px;
}

@media (max-width: 767px) {
  
    p{
      color: white;
      width:80%;
    }
    
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    
    p{
      color: white;
      width:150%;
    }
    
  }

  @media (min-width: 992px) {
    
    p{
      color: white;
      width:150%;
    }
    
  }