h1 {
    margin-left: 45%;
}


.section1 {
    height: 150px;
    width: 150px;
    background-color: antiquewhite;
}

.section2 {
    height: 150px;
    width: 150px;
    background-color: antiquewhite;
}

.section3 {
    height: 150px;
    width: 150px;
    background-color: antiquewhite;
}